* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.playground {
  position: relative;
}
.player1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
}
.player2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
}
.grass {
  position: absolute;
  top: 500px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.ball {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 75px;
  animation: shoot 3s linear 0s infinite alternate;
  z-index: 1;
}

@keyframes shoot {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(700px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
